
.hd-search-form{
	width: 315px;
    float: left;
    margin-top: 4px;
	margin-left: 35px;
}

.hd-search-form input{
	height: 30px;
}
.hd-search-form .input-group-btn .js-submit-search{
	border-left: none;
    padding: 7px 12px 7px;
}
.home-container .section-home .container>h3{
	font-size: 2.5rem;
}
.controller-hourlie.action-list .listings-container{
	margin-left: 10px;
}
.controller-hourlie.action-list .listing-row .title{
	font-weight: bold;
}
.controller-hourlie.action-list .listing-row .horizontal>li{
	text-transform: none;
    font-weight: 400;
}
.controller-hourlie.action-list .listing-row.featured-row{
	background-color: #fff;
}
a.js-paragraph-crop{
	color: #4774b7;
}
.top-navigation .nav .dropdown .dropdown-menu.simple li a:not(.nested-link){
    font-size: 15px;
    font-size: 1.5rem;
    text-transform: none; 
}
.top-navigation .nav .dropdown .dropdown-menu{
    background-color: #414141;
    padding-bottom: 10px;
    padding-top: 10px;
    top: 39px;
    right: -59px;
    width: 185px;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.top-navigation .nav .navigation-menu, .top-navigation .nav .user-menu{
    height: auto !important;
}
.hourlie-image-container, .hourlie-image-container a{
    height: 115px;
}
.widget-memberSummary{
    padding: 5px 0;
    border-bottom: 1px dotted #ECECEC;
}
.category-tree li ul, .category-tree li .sub-menu {
    margin-top: 10px;
    padding-left: 30px;
    position: relative;
}
.category-tree ul.sub-menu:before {
    border-left: 3px solid #ff7300;
}
.category-tree ul.sub-menu:before{
    content: '';
    display: inline-block;
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 10px;
}

.thum-404{
    background: transparent url('../images/main-bg-noise.png') repeat top left;
    height: 100%;
}
.controller-site.full-page .static-errors {
    min-height: 500px;
    background: url('../images/error-face.png') 600px 50px no-repeat;
}
.hourlie-description-text{
    padding: 25px 15px;
    font-size: 14px;
}
label.error{
    color: red;
    font-size: 9px;
}
#get-started{
    background-color: rgba(0,0,0,.5);
    border-radius: 2px;
    padding: 10px;
}
.profile-main{
    margin-top: 15px;
}