
.hd-search-form{
	width: 315px;
    float: left;
    margin-top: 4px;
	margin-left: 35px;
}

.hd-search-form input{
	height: 30px;
}
.hd-search-form .input-group-btn .js-submit-search{
	border-left: none;
    padding: 7px 12px;
}
.home-container .section-home .container>h3{
	font-size: 2.5rem;
}
.controller-hourlie.action-list .listings-container{
	margin-left: 10px;
}
.controller-hourlie.action-list .listing-row .title{
	font-weight: bold;
}
.controller-hourlie.action-list .listing-row .horizontal>li{
	text-transform: none;
    font-weight: 400;
}
.controller-hourlie.action-list .listing-row.featured-row{
	background-color: #fff;
}
a.js-paragraph-crop{
	color: #4774b7;
}

label.error{
    color: red;
    font-size: 9px;
}

.profile-collection-item{
    float: left;
    margin-bottom: 20px;
    padding-left: 8px;
    padding-right: 9px;
    position: relative;
    width: 255px;
}

.profile-collection-main-img{
    background: none repeat scroll 0 0 #eee;
    position: relative;
    width: 255px;
}

.profile-collection-bot-btn{
    background-color: #f5650c;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 11px;
    font-weight: 700;
    padding: 3px 5px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 5px;
}
